In [1]:
import pandas as pd
df = pd.read_csv('Twitch_game_data.csv')

In [3]:
df.head()

,Rank,Game,Month,Year,Hours_watched,Hours_Streamed,Peak_viewers,Peak_channels,Streamers,Avg_viewers,Avg_channels,Avg_viewer_ratio
0,1,League of Legends,1,2016,94377226,1362044 hours,530270,2903,129172,127021,1833,69.29
1,2,Counter-Strike: Global Offensive,1,2016,47832863,830105 hours,372654,2197,120849,64378,1117,57.62
2,3,Dota 2,1,2016,45185893,433397 hours,315083,1100,44074,60815,583,104.26
3,4,Hearthstone,1,2016,39936159,235903 hours,131357,517,36170,53749,317,169.29
4,5,Call of Duty: Black Ops III,1,2016,16153057,1151578 hours,71639,3620,214054,21740,1549,14.03

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12750 entries, 0 to 12749
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              12750 non-null  int64
 1   Game              12749 non-null  object
 2   Month             12750 non-null  int64
 3   Year              12750 non-null  int64
 4   Hours_watched     12750 non-null  int64
 5   Hours_Streamed    12750 non-null  object
 6   Peak_viewers      12750 non-null  int64
 7   Peak_channels     12750 non-null  int64
 8   Streamers         12750 non-null  int64
 9   Avg_viewers       12750 non-null  int64
 10  Avg_channels      12750 non-null  int64
 11  Avg_viewer_ratio  12750 non-null  float64
dtypes: float64(1), int64(9), object(2)
memory usage: 1.2+ MB
None

In [8]:
from sklearn.utils import shuffle
df_shuffled = shuffle(df, random_state=42)

In [10]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [16]:
from scipy.cluster.hierarchy import linkage
model = linkage(StandardScaler, method='complete')

TypeError: float() argument must be a string or a number, not 'type'